@font-face {
  font-family: 'OstrichSans-Black';
  src: local('OstrichSans-Black'), url('.') format('woff2');
  font-weight: normal;
}

.testimonials {
  width: 86%;
  margin: 0 7% 200px;
}

.testimonial-wrap {
  display: flex !important; /* Ensure flex is applied */
  align-items: center !important;
  justify-content: center !important;
  padding: 10px;
}

.testimonial-wrap img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-right: 20px;
}

.testimonial-text {
  max-width: 900px;
  margin-left: 25px;
}

.testimonial-text h6 {
  margin: 0;
  font-size: 32px;
  font-family: "OstrichSans-Black", sans-serif;
  font-style: normal;
  font-weight: 900;
  color: #F2F2F0;
}

.testimonial-text p {
  font-family: 'Montserrat', sans-serif;
  color: #F2F2F0;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-top: 0;
}

/* Override the default color of the dots */
.slick-dots li button:before {
  color: #F2F2F0 !important;
}

/* Override the color of the active dot */
.slick-dots li.slick-active button:before {
  color: #F2F2F0 !important;
}

/* Splash Screen Styling */

.splash-screen {
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-out;
}

.splash-screen-image-wrapper {
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-screen.fade-out {
  opacity: 0;
}

.splash-screen__logo {
  margin: 0;
  background-color: #28282b;
  z-index: 99;
}

.splash-screen__heading h1, .coming-soon h1 {
  color: #F2F2F0;
  text-align: center;
  font-family: 'OstrichSans-Black', sans-serif;
  font-size: 90px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.splash-screen__heading h4 {
  color: #F2F2F0;
  font-family: 'OstrichSans-Black', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.coming-soon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.coming-soon img {
  margin: 0 -75px;
}

.coming-soon p {
  font-family: 'Montserrat', sans-serif;
  color: #F2F2F0;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}